---
import Navbar from "./Navbar.astro";
---

<header class="Header">
	<div class="Container">
		<Navbar />
	</div>
</header>

<style lang="scss">
	.Header {
		display: flex;
		justify-content: space-between;
		padding: 1em 0;
		border-bottom: solid 2px var(--ui-purple-light);
	}
</style>
