---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a">, VariantProps<typeof link> {}

const {
	style,
	href,
	intent = "primary",
	size = "medium",
	...rest
} = Astro.props;


---

<a href={href} {...rest} class={link({ intent, size })}>
	<slot />
</a>
