---
import { Image } from "astro:assets";
import Brand from "/src/assets/images/logo-auxrora.svg";
---

<a href="/" aira-label="Ir al inicio" class="Brand">
	<Image src={Brand} alt="Brand Auxrora" width={59} height={40} />
</a>
