---
import { Image } from "astro:assets";
import CanHelpYouImage from "../assets/images/CanHelpYouImage.png";
import Card from "../components/Card.astro";
import Button from "./shared/Button.astro";
import ServicesCard from "./ServicesCard.astro";
---

<section class="CanHelpYou">
	<div class="Container">
		<h2 class="CanHelpYou-title">Puedo ayudarte si...</h2>
		<section class="Services-cards">
			<!-- {
				helpYouSectionIf.map(
					(card: { cardlabel: unknown; cardText: unknown }) => <ServicesCard />
				)
			} -->
		</section>

		<section class="AboutNumbers">
			<div class="Container">
				<Image
					src={CanHelpYouImage}
					alt={"A girl talking about numbers"}
					width={560}
					height={562}
				/>
				<div class="NumbersData">
					<h3>Hablemos de números</h3>
					<div class="NumbersCard">
						<Image src={CanHelpYouImage} alt={"some"} width={20} height={20} />
						<p class="NumbersCard-percent">65%</p>
						<p class="NumbersCard-text">
							de los clientes de EE.UU considera que una experiencia positiva
							con una marca es más influyente que una gran publicidad.
						</p>
						<small class="NumbersCard-source">
							Fuente: PWC - Experience is everything: Here’s how to get it
							right.
						</small>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<style lang="scss">
	.CanHelpYou {
		margin-top: -10rem;

		&-title {
			color: var(--ui-black);
		}
	}
	.Services-cards {
		display: grid;
		grid-auto-rows: min-content;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 18em), 1fr));
		grid-auto-flow: dense;
		height: auto;
		column-gap: 2.625rem;
		row-gap: 2rem;
	}
</style>
