---
import BaseHead from "../components/shared/BaseHead.astro";
import Header from "../components/shared/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
